/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*/
@font-face {
	font-family: 'Roboto Mono';
	src: url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}
body{
    background-color: #E7E6E6;
    margin:0;
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
}

/* ---en tête--- */
header{
    display: flex;
    background-color: #44546A;
    justify-content: space-between;
    box-shadow: 2px 10px 15px rgb(141, 141, 141);
    position: fixed;
    right: 0px;
    left: 0px;
    top:0px;
    z-index: 5;
}

#Accueil{
    height: 100vh;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: auto;
    list-style: none;
    color: #A5A5A5;}
nav a{
    color: #A5A5A5;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s ;
    background-size: 300% 10% ;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: linear-gradient(90deg, rgba(68,84,106,0) 0%, rgba(68,84,106,0) 33%, #E7E6E6 70%, #E7E6E6 100%);}
nav a:hover{
    color: #E7E6E6;
    background-position: right bottom;}
nav{
    animation: animDebutnav 1s;
    width: 80%;
    padding: 10px;
    overflow: hidden;}
    
header h1{
    animation: animDebuth1 1s;
    width: 20%;
    background-color: #5B9BD5;
    margin: 0px 20px 0px 0px;
    padding: 20px 50px 20px 20px;
    border-radius: 0% 0% 50px 0%;
    }
header h1:hover{
        cursor: pointer;
    }

/* ---Index Corps--- */

.leg a{
    color: #44546A;
    text-decoration: none;
    position: absolute;
    margin: 0px;
    animation: animDebutleg3 7s;
    transition: 0.5s;
    font-size: x-large;
    font-weight: bold;}
.leg a:hover{
    color: #ED7D31;
    text-decoration: underline;}
.leg a:hover ~ ul{
    display: block;
    animation: animHoverR 1s;}

#logo {
    margin-top: 10vh;
    background-image: url("../images/avatars.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    width: 100%;
    height: 90%;
    position: absolute;
    animation: animDebutlogo 4s;
    Opacity : 1 ;}
.circle{
    position: absolute;
    width: 12px;
    height: 12px;
    margin:6px;
    background-color: #ED7D31;
    border-radius: 50%;
    animation: animDebutlogo 4s;}
.circle_vide{
    position: absolute;
    width: 16px;
    height: 16px;
    border: 4px solid #44546A;
    border-radius: 50%;
    animation: animDebutlogo2 5s;}
.barre{
    position: absolute;
    height: 3px;
    background-size: 350% 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: linear-gradient(90deg, #44546A 0%, #44546A 33%, rgba(68,84,106,0) 70%, rgba(68,84,106,0) 100%);
    animation: animDebutleg1 5s;
    border-radius: 1.5px;}
.barre2{
    position: absolute;
    height: 3px;
    background-size: 350% 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-image: linear-gradient(90deg, #44546A 0%, #44546A 33%, rgba(68,84,106,0) 70%, rgba(68,84,106,0) 100%);
    animation: animDebutleg2 6s;
    border-radius: 1.5px;}
.leg ul{
    display: none;
    color: #A5A5A5;
    position: absolute;
    border-left: solid 2px #A5A5A5;
    padding-left: 20px;
    animation: animHoverR 1s;
}
#identite a {
    top:calc(42% - 6px);
    left: calc(54% - 1px);
    right:39%;
    transform-origin:  bottom left;
    transform: rotate(-45deg) translate(98%) rotate(45deg) translate(110%);}
#formation a {
    top:calc(55% - 6px);
    left: calc(58% - 1px);
    right:35%;
    transform-origin:  bottom left;
    transform: rotate(15deg) translate(98%) rotate(-15deg) translate(110%);}
#Competence a {
    top:calc(68% - 6px);
    left: calc(54.5% - 1px);
    right:38.5%;
    transform-origin:  bottom left;
    transform: rotate(20deg) translate(98%) rotate(-20deg) translate(110%);}
#loisir a {
    text-align: right;
    top:calc(63% - 6px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(160deg) translate(98%) rotate(20deg) translate(calc(110% + 135px)) rotate(-180deg);}
#experience a {
    text-align: end;
    top:calc(47% - 6px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(200deg) translate(98%) rotate(-20deg) translate(calc(110% + 150px)) rotate(-180deg);}

#identite ul {
    top:calc(42% + 24px);
    left: calc(54% - 1px);
    right:39%;
    transform-origin:  bottom left;
    transform: rotate(-45deg) translate(98%) rotate(45deg) translate(110%);}
#formation ul {
    top:calc(55% + 24px);
    left: calc(58% - 1px);
    right:35%;
    transform-origin:  bottom left;
    transform: rotate(15deg) translate(98%) rotate(-15deg) translate(110%);}
#Competence ul {
    top:calc(68% + 24px);
    left: calc(54.5% - 1px);
    right:38.5%;
    transform-origin:  bottom left;
    transform: rotate(20deg) translate(98%) rotate(-20deg) translate(110%);}
#loisir ul {
    top:calc(63% + 24px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(160deg) translate(98%) rotate(20deg) translate(calc(110% + 100px)) rotate(-180deg);}
#experience ul {
    top:calc(47% + 24px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(200deg) translate(98%) rotate(-20deg) translate(calc(110% + 150px)) rotate(-180deg);}


#identite .barre{
    top:calc(42% + 10.5px);
    left: calc(54% - 1px);
    right:39%;
    transform-origin:  bottom left;
    transform: rotate(-45deg);}
#formation .barre{
    top:calc(55% + 10.5px);
    left: calc(58% - 1px);
    right:35%;
    transform-origin:  bottom left;
    transform: rotate(15deg);}
#Competence .barre{
    top:calc(68% + 10.5px);
    left: calc(54.5% - 1px);
    right:38.5%;
    transform-origin:  bottom left;
    transform: rotate(20deg);}
#loisir .barre{
    top:calc(63% + 7px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(160deg);}
#experience .barre{
    top:calc(47% + 7px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(200deg);}

#identite .barre2{
    top:calc(42% + 10.5px);
    left: calc(54% - 1px);
    right:39%;
    transform-origin:  bottom left;
    transform: rotate(-45deg) translate(98%) rotate(45deg);}
#formation .barre2{
    top:calc(55% + 10.5px);
    left: calc(58% - 1px);
    right:35%;
    transform-origin:  bottom left;
    transform: rotate(15deg) translate(98%) rotate(-15deg);}
#Competence .barre2{
    top:calc(68% + 10.5px);
    left: calc(54.5% - 1px);
    right:38.5%;
    transform-origin:  bottom left;
    transform: rotate(20deg) translate(98%) rotate(-20deg);}
#loisir .barre2{
    top:calc(63% + 7px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(160deg) translate(98%) rotate(20deg);}
#experience .barre2{
    top:calc(47% + 7px);
    left: calc(43% - 23px);
    right:50%;
    transform-origin:  bottom left;
    transform: rotate(200deg) translate(98%) rotate(-20deg);}

#identite .circle{
    top:42%;
    right:46%;}
#formation .circle{
    top:55%;
    right:42%;}
#Competence .circle{
    top:68%;
    right:45.5%;}
#loisir .circle{
    top:63%;
    right:57%;}
#experience .circle{
    top:47%;
    right:57%;}

#identite .circle_vide{
    top:42%;
    right:46%;}
#formation .circle_vide{
    top:55%;
    right:42%;}
#Competence .circle_vide{
    top:68%;
    right:45.5%;}
#loisir .circle_vide{
    top:63%;
    right:57%;}
#experience .circle_vide{
    top:47%;
    right:57%;}

/* Page identité */

.horizontal{
    background-color: #A5A5A5;
    margin: 0px;
    padding: 10% 5%;
    border-bottom: #ED7D31 solid 5px;
    height: 1fr;
    overflow: hidden;}
.horizontal h2{
    font-size: 5em;
    opacity: 1;
    transition: 1s;}


#carte{
    display: flex;
    background-color: #5B9BD5;
    border: #44546A 5px solid;
    border-radius: 15px;
    width: 50%;
    max-width: 30em;
    position: absolute;
    top: calc(30% + 100vh);
    right: 15%;
    transform: rotate(10deg);
    transition: 0.5s; 
    z-index: 1;
}
#profil.loaded #carte{
    animation: animDebutcart 1s;
}
#carte:hover{
    transform: rotate(1deg);
    box-shadow: 10px 10px 15px rgb(141, 141, 141);}
#carte ul{
    margin: 2em auto;
    color: #44546A;
    font-weight: bold;}
#carte ul{
    margin: auto;}
#photo{
    background-image: url("../images/avatars.png");
    background-size: auto 105%;
    background-repeat: no-repeat;
    background-position: center ;
    width: 10em;
    height: 10em;
    margin: 5%;
    border: #44546A 3px solid;
    border-radius: 5px;}

section.horizontal + section{
    z-index: 2;
    position: relative;
    border: none;
    background-color: #44546A;
}
section.horizontal + section.horizontal h2{
    grid-column: 1 / 3;
}
section.horizontal + section p.anim{
    position: absolute;
    color: #E7E6E6;
    font-size: xx-large;
    font-weight: bold;
    right: calc(50% - 16px);
    left: calc(50% - 16px);
    top: -5%;
    text-align: center;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: animInfFle;
    animation-duration: 1s;
}

#Accueil+div div.anim{
    background-image: url("../images/fleche.png");
    background-size: contain;
    width: 7vmin;
    height: 7vmin;
    margin: auto;
    top: -5%;
    animation-iteration-count: infinite;
    animation-name: animInfFle2;
    animation-delay: 4s;
    animation-duration: 3s;
}
section.horizontal + section section h3{
    color: #E7E6E6;
    transform-origin: top left;
    width: 50%;
    transform: rotate(-90deg) translate(-100%);
    border-bottom: 2px solid #E7E6E6;
}
section.horizontal + section section ul{
    padding-left: 15%;
}

section.horizontal div.l_icone {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}
section.horizontal div.l_icone>div{
    height: 6em;
    width: 6em;
    border: solid 5px #E7E6E6;
    border-radius: 10px;
    margin: 3em;
    transition: 1s;
}
section.horizontal div.l_icone>div:hover{
    height: 9em;
    width: 9em;
    background-color: #E7E6E6;
    margin: 0px;

}
section.horizontal div.l_icone>div>button{
    height: 100%;
    width: 100%;
    border: solid 5px #44546A;
    border-radius: 3px;
    background-color: transparent;
    margin: 0px;
    transition: 1s;
}
section.horizontal div.l_icone p{
    width: 0px;
    height: 0px;
    overflow: hidden;
    align-self: flex-end;
    margin: 0px;
}

div.log:hover ~ p.log{
    min-width: 50em;
    height: 0px;
    text-align: center;
    width: auto;
    overflow:visible;
}
div.cre:hover ~ p.cre{
    min-width: 50em;
    text-align: center;
    height: 0px;
    width:auto;
    overflow:visible;
}
div.opt:hover ~ p.opt{
    min-width: 50em;
    text-align: center;
    height: 0px;
    width: auto;
    overflow:visible;
}
div.pat:hover ~ p.pat{
    min-width: 50em;
    text-align: center;
    height: 0px;
    width: auto;
    overflow:visible;
}
div.cur:hover ~ p.cur{
    min-width: 50em;
    text-align: center;
    width: auto;
    height: 0px;
    overflow:visible;
}

section.horizontal div.l_icone>div:hover>button{
    height: 100%;
    width: 100%;
    margin: 0px;
}
button.cre{
    background-image: url("../images/jeu.png");
    background-size: auto 100%;
}
button.log{
    background-image: url("../images/judo.png");
    background-size: auto 100%;
}
button.opt{
    background-image: url("../images/peinture.png");
    background-size: auto 100%;
}
button.cur{
    background-image: url("../images/snowboarding.png");
    background-size: auto 100%;
}
button.pat{
    background-image: url("../images/bricolage.png");
    background-size: auto 100%;
}
button.cre:hover{
    background-image: url("../images/jeu1.png");
    background-size: auto 100%;
}
button.log:hover{
    background-image: url("../images/judo1.png");
    background-size: auto 100%;
}
button.opt:hover{
    background-image: url("../images/peinture1.png");
    background-size: auto 100%;
}
button.cur:hover{
    background-image: url("../images/snowboarding1.png");
    background-size: auto 100%;
}
button.pat:hover{
    background-image: url("../images/bricolage1.png");
    background-size: auto 100%;
}

#contact{
    background-color: #A5A5A5;
    padding-top: 5vh;
}
#contact h2{
    margin:auto;
    width: 100%;
    text-align: center;
    font-size: 6em;
    margin-bottom: 6px;
}
#contact ul{
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 2em;
}
#contact li{
    width: 100%;
    border-radius: 0.5em;
    margin-top: 0.5em;
    transition: 0.5s;
    height: auto;
    overflow: hidden;
    font-size: 2em;
}
#contact a{
    text-decoration: none;
    color: black;
}
#contact li strong{
    font-size: 2.3em;
}
#contact li:hover{
    width: 90%;
    border-radius: 0.5em;
    margin-left: 10%;
    background-color: #929090;
    box-shadow:0px 10px 10px #757575;
}

/* Page formation */
#formations{
    margin: 12vh 0px;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    background-color: #E7E6E6;
    overflow: hidden;
}

div.fleche{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 12em 5%;
    grid-column: 1;
    grid-row: 1;
}
div.fleche h2{
    color: white;
    font-size: 6em;
    position:relative;
    background-color: #44546A;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 150px;
    width: 85%;
    text-align: center; 
    z-index: 4; 
}

#formations.loaded div.fleche h2{
    animation: Deroule 2s; 
}
#formations.loaded li{
    animation: invisible 2s, Deroule1 3s 2s;
}

div.fleche div{
    transform : translate(-53px) rotate(45deg);
    height: 106px;
    width: 106px;
    margin:22px 0px;
    transform-origin: center;
    background-color: #44546A;
    z-index: 3;
}
section.resume ol{
    color: #44546A;
    display: flex;
    position: relative;
    list-style: none;
    padding: 0px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 6%;
    margin-right: 10%;
    justify-content:space-around;
}
section.resume li{
    border-left: solid 4px #ED7D31;
    font-size: large;
    width: 20%;
    padding-left: 1em;
    overflow: hidden;
    
}



section.resume li:nth-child(2n){
    align-self: flex-start;
    height: 12em;
    margin-bottom: 12em;
}
section.resume li:nth-child(2n+1){
    align-self: flex-end;
    padding-top: 8em;
    margin-top: 12em;
    max-height: 7em;
}

#frise{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6em 1fr 1fr 1fr 1fr 1fr;

}
#frise h2{
    margin: 0px;
    font-size: 4em;
    text-align: center;
    color:#A5A5A5 ;
    background-color: #44546A;
    grid-row: 1;
    grid-column: 1;
    
}

#barre_central
{
    width: 10%;
    height: 100%;
    margin:0px auto;
    background-color: #44546A;
    grid-row: 2 / 7;
    grid-column: 1;
}
#But
{
    background: linear-gradient(0deg, rgba(68,84,106,0) 20%, rgba(68,84,106,1) 100%);   
    grid-row: 2;
    grid-column: 1;
    margin: 0px;
    padding: 3em 0px;
}

#But h3
{
    background-color:#E7E6E6;
    font-size: 8em;
    text-align: center;
    margin: 0px auto;
    width: 2em;
    height: 2em;
    border: solid 20px #5B9BD5;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 2em;
}







/* --Animations-- */
@-webkit-keyframes invisible{
    0%{border: none;
    color: transparent;}
    100%{border: none;
        color: transparent;}
}
@-webkit-keyframes Deroule1{
    0% { width: 0px;
        height: 0%;
    color:transparent;}
    50% {height:10em;
        width: 0%;
        overflow: hidden;
        color:transparent;}
    50.1%{
        color:#44546A;
    }
    100%{ width: 20%;}
}


@-webkit-keyframes Deroule{
    0% { width: 70px;
    color:transparent;}
    40% { width: calc(10% + 70px);
        color:transparent;}
    90%{ width: 85%;
        color:transparent;}
    100%{width: 85%;
        color: white;}
}


@-webkit-keyframes animDebuth1{
    from { width: 100%;}
    to{ width: 20%;}
}
@-webkit-keyframes animDebutnav{
    from { 
        width: 0%;}
    to{ width: 80%;}
}

@-webkit-keyframes animDebutlogo{

        0% {
        Opacity : 0;
        }
        50% {
        Opacity : 0 ;
        }
        100% {
            Opacity : 1;
            }
        
}
@-webkit-keyframes animDebutlogo2{

    0% {
    border-left-color : transparent;
    border-right-color : transparent;
    border-bottom-color : transparent;
    border-top-color : transparent;
    }
    40% {
    border-left-color : #44546A;
    }
    60% {
    border-bottom-color : #44546A;
    }
    80% {
    border-right-color : #44546A;
    }
    100% {
        border-top-color : #44546A;
    }
    
}
@-webkit-keyframes animBordurebot{
    from{
        color: #A5A5A5;
        border-bottom: solid 2px transparent;
    }to{
        color: #E7E6E6;
        border-bottom: solid 2px #E7E6E6 }
    }

@-webkit-keyframes animDebutleg1{
    0%{background-position: right;}
    60%{background-position:  right;}
    100%{background-position:left;}
}
@-webkit-keyframes animDebutleg2{
    0%{background-position: right;}
    60%{background-position:  right;}
    100%{background-position:left;}
}
@-webkit-keyframes animDebutleg3{
    0%{color: transparent;}
    60%{color: transparent;}
    100%{color: #44546A;}
}
@-webkit-keyframes animHoverR{
    0%{
        height: 0%;
        color: transparent;
        overflow: hidden;
    }
    50%{
        height: 60px;
        color: transparent;
        overflow: hidden;
    }
    100%{
        height: 60px;
        color: #A5A5A5;
        overflow:visible;
    }
}
@-webkit-keyframes animDebutcart{
    from{
        top: calc(100% + 100vh);
        right: 70%;
        transform: rotate(-90deg);
    }
    to{
        top: calc(30% + 100vh);
        right: 15%;
        transform: rotate(10deg);
    }
}

@-webkit-keyframes animInfFle{
    from{
        top: -5%;
    }
    to{
        top: -2%;
    }
}

@-webkit-keyframes animInfFle2{
    from{
        transform: translate(0,-12vmin);
        opacity: 1;
    }
    to{
        transform: translate(0,-7vmin);
        opacity: 0;
    }
}




