
#annee {
    margin-top: 25vh;
}

#annee h2.big{
    font-size: 16.5vmin;
}

#annee h2{
    color : #ED7D31;
    margin: 0px;
    text-align: center;
    font-size: 9vmin;
}

#annee > div:first-child
{
    margin: auto;
    margin-top: 15vmin;
    height : 60vmin;
    width : 60vmin;
    border: 0.5vmin #ED7D31 solid;
    border-radius: 30vmin;
    box-shadow: 0px 0px 2vmin 0.5vmin gray;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}

#annee li{
    position: absolute;
    height : 20vmin;
    width : 20vmin;
    border: 0.5vmin #ED7D31 solid;
    border-radius: 10vmin;
    background-color: azure;
    display: flex;
    justify-content:center;
    align-items:center;
    background-size: 10vmin;
    background-position: center 2vmin;
    background-repeat: no-repeat;
    overflow: hidden;
}
#annee li div{
    padding-top: 7vmin;
}

#Realiser{
    top:calc(5vmin + 77.6px);
    left:calc(50% - 10.5vmin);
    
    background-image: url("iconRea.png");
    
}

#Collaborer{
    top:calc(20vmin + 77.6px);
    left:calc(50% + 16vmin);
    background-image: url("iconCol.png");
}
#Conduire{
    top:calc(50vmin + 77.6px);
    left:calc(50% + 16vmin);
    background-image: url("iconCon.png");
}
#Gerer{
    top:calc(65vmin + 77.6px);
    left:calc(50% - 10.5vmin);
    background-image: url("icongere.png");
}
#Administrer{
    top:calc(50vmin + 77.6px);
    left:calc(50% - 36vmin);
    background-image: url("iconAdm.png");
}
#Optimiser{
    top:calc(20vmin + 77.6px);
    left:calc(50% - 36vmin);
    background-image: url("iconopt.png");
}

#annee li.active {
    background-color: #ED7D31;
}

#annee h2+p{
    width: 35vmin;
    text-align: center;
}

#annee button{
    position: absolute;
    margin-right: 2vmin;
    margin-bottom: 2vmin;
    bottom:0px;
    right: 0px;
    background: none;
    z-index: 2;
}

#info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: xx-large;
    position: absolute;
    background-color: #929090;
    border-radius: 50%;
    background-size: cover;
    height: 10vmin;
    width: 10vmin;
    margin-left: 1.6vmin;
    margin-bottom: 0.5vmin;
    bottom:10vmin;
    left: 10vmin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: animpointInter;
    animation-duration: 2s;
    cursor: pointer;
}


@-webkit-keyframes animpointInter{
    from{
        transform: rotate(-15deg);
        box-shadow: 5px 10px  #44546A;
    }
    to{
        transform: rotate(15deg);
        box-shadow: -10px -1px  #44546A;
    }
}

#info+p{
    background-color: #929090;
    width: 28vw;
    margin-left: 2vw;
    padding: 2vmin;
    color: white;
    box-shadow: 0px 0px 15px black;
    border-radius: 2vmin;
    text-align: justify;
    position: absolute;
    top:45vh;
    transition: 1s;
    opacity: 0;
}
#info+p.nothidden{
    opacity: 0.85;
}





#info+p+div{
    background-color: #5b9bd5;
    margin: 13vh auto;
    width: 55vw;
    height: 0.5vh;
    border-radius: 0.25vh;
}

.hidden{
    display: none;
}

#listeSAE section{
    overflow: hidden;
    opacity: 0;
    transition: 2s;
}
#listeSAE section.loaded{
    opacity: 1;
}


#listeSAE  section:nth-last-child(even) h3{
    font-size: 6vh;
    text-align: center;
    padding: 0.5vw;
    width: 40vw;
    margin-left: 10vw;
    border: #FF710A 0.5vmin solid;
    border-radius: 2vmin;
}
#listeSAE  section:nth-last-child(even) p{
    font-size: 4vh;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 40vw;
    margin-left: 10vw;
}
#listeSAE section:nth-last-child(even) div{
    position: absolute;
    height:40vmin;
    width: 35vmin;
    background-color: #FF710A;
    background-repeat: no-repeat;
    background-position: center 5vmin;
    background-size: 80%;
    opacity: 0.8;
}

#img1, #img13, #img21,#img31{
    top: 118vh;
    left: 70vw;
    rotate: 4deg;
    background-image: url("sae1.png");
}
#img2, #img14, #img22,#img32{
    top: 153vh;
    left: 60vw;
    rotate: -6deg;
    background-image: url("sae1-1.png");
}

#img23{
    top: 185vh;
    left: 70vw;
    rotate: 6deg;
    background-image: url("sae11-3.png");
}
#listeSAE  section:nth-last-child(odd) h3{
    font-size: 6vh;
    text-align: center;
    padding: 0.5vw;
    width: 40vw;
    margin-left: 50vw;
    border: #FF710A 0.5vmin solid;
    border-radius: 2vmin;
}
#listeSAE  section:nth-last-child(odd) p{
    font-size: 4vh;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 40vw;
    margin-left: 50vw;
}
#listeSAE section:nth-last-child(odd) div{
    position: absolute;
    height:40vmin;
    width: 35vmin;
    background-color: #FF710A;
    background-repeat: no-repeat;
    background-position: center 5vmin;
    background-size: 80%;
    opacity: 0.8;
}
#img3 , #img15,#img33{
    top: 208vh;
    right: 70vw;
    rotate: 4deg;
    background-image: url("sae2-1.png");
}
#img4, #img16, #img24,#img34{
    top: 243vh;
    right: 60vw;
    rotate: -6deg;
    background-image: url("sae2-2.png");
}

#img5, #img17,#img35{
    top: 308vh;
    left: 70vw;
    rotate: 4deg;
    background-image: url("sae3-1.png");
}
#img6, #img18,#img36{
    top: 343vh;
    left: 60vw;
    rotate: -6deg;
    background-image: url("sae3-2.png");
}
#img7, #img19{
    top: 408vh;
    right: 70vw;
    rotate: 4deg;
    background-image: url("sae4-1.png");
}
#img8, #img20{
    top: 443vh;
    right: 60vw;
    rotate: -6deg;
    background-image: url("sae4-2.png");
}

#img9{
    top: 508vh;
    left: 70vw;
    rotate: 4deg;
    background-image: url("sae6-1.png");
}
#img10{
    top: 543vh;
    left: 60vw;
    rotate: -6deg;
    background-image: url("sae6-2.png");
}
#img11{
    top:608vh;
    right: 70vw;
    rotate: 4deg;
    background-image: url("sae5-1.png");
}
#img12{
    top: 643vh;
    right: 60vw;
    rotate: -6deg;
    background-image: url("sae5-2.png");
}

div.switch{
    z-index: 2;
    cursor: pointer;
    position: fixed;
    bottom: 0px ;
    right: 5vw;
    background-color: #FF710A;
    box-shadow: 0px 0px 10px 5px #5b9bd5;
    border-radius: 5vw 5vw 0px 0px;
    padding: 1vh 5vw;
}




.hidden{
    display: none;
}

#img13{
    background-image: url("sae7-1.png");
}
#img14{
    background-image: url("sae7-2.png");
}
#img15{
    background-image: url("sae8-1.png");
}
#img16{
    background-image: url("sae8-2.png");
}
#img17{
    background-image: url("sae9-1.png");
}
#img18{
    background-image: url("sae9-2.png");
}
#img19{
    background-image: url("sae10-1.png");
}
#img20{
    background-image: url("sae10-2.png");
}

#img21{
    background-image: url("sae11-1.png");
}
#img22{
    background-image: url("sae11-2.png");
}

#img24{
    background-image: url("sae12-1.png");
}

#img31{
    background-image: url("sae9-2.png");
}
#img32{
    background-image: url("sae10-1.png");
}
#img33{
    background-image: url("sae10-2.png");
}

#img34{
    background-image: url("sae11-1.png");
}
#img35{
    background-image: url("sae11-2.png");
}

#img36{
    background-image: url("sae12-1.png");
}


table{
    margin: 5vh auto;
    border: #97afcb solid 0.2vmin;
    width: 90vw;
}
th{
    background-color: #97afcb;
    width:50%;
}
td{
    border: #97afcb solid 0.2vmin;
}
.maitriser{
    background-color: #46a06e;
}
.encours{
    background-color: #67dc9c;
}
.excellente{
    background-color: #173926;
}

#tableAC span {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#tableAC span label{
    padding: 0.5vmin;
    border-radius: 0.5vmin;
    margin: 1vmin;
}

#tableAC span label:nth-last-child(3){
    background-color: #67dc9c;
}

#tableAC span label:nth-last-child(2){
    background-color: #46a06e;
}
#tableAC span label:nth-last-child(1){
    background-color: #173926;
    color: white;
}

#navigation{
    margin: auto;
    display: flex;
    justify-content: center;
}

#navigation a{
   
    border: #44546A solid 0.5vmin;
    color: #44546A;
    padding: 1vmin;
    margin: 1vmin;
    border-radius: 0.5vmin;
    transition: 1s;
}

#navigation a:hover{
   
    border: #44546A solid 0.5vmin;
   color: #ddebff;
   background-color: #44546A;
   text-decoration: none;
}