#competences{
    
    margin-top: 10vh;
}


#ordinateur{
    border: black 2vmin solid;
    border-radius: 1vmin;
    height: 60vmin;
    width: 120vmin;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background: rgb(68,84,106);
    background: radial-gradient(circle, rgba(68,84,106,1) 0%, rgba(237,125,49,1) 25%, rgba(165,165,165,1) 75%, rgba(91,155,213,1) 100%);
    background-size: 800% 800%;
    animation-iteration-count: infinite;
    animation-name: animBg;
    animation-duration: 50s;
}

#piedordi{
    background-color: gray;
    margin: auto;
    height: 4vmin;
    width: 10vmin;
    z-index: 4;
}
#socle{
    background-color: black;
    margin: auto;
    height: 4vmin;
    width: 60vmin;
    border-radius: 2vmin 2vmin 0px 0px;
}



#ordinateur ol:first-child {
    display: flex;
    align-items: center;
    list-style: none;
    opacity: 0.8;
    background-color: #44546A;
    margin: 0px;
}

#ordinateur ol:first-child li{
    height: 8vmin;
    width: 8vmin;
    margin: 1vmin;
    border-radius: 3vmin;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/programmation.png");
    transition: 0.2s;
}

#ordinateur ol:first-child li:hover{
    cursor: pointer;
    background-color: #44546A;
    box-shadow: inset 1px 1px rgb(127, 127, 213), inset -1px -1px rgb(127, 127, 213) ;
}

#ordinateur ol:first-child li.selected{
    cursor: pointer;
    background-color: #44546A;
    box-shadow: inset 1px -1px rgb(127, 127, 213), inset -1px 1px rgb(127, 127, 213) ;
}


#ordinateur ol:first-child li:nth-child(2){
    background-image: url("../images/bd.png");
}
#ordinateur ol:first-child li:nth-child(3){
    background-image: url("../images/reseau.png");
}
#ordinateur ol:first-child li:nth-child(4){
    background-image: url("../images/modellisation.png");
}
#ordinateur ol:first-child li:nth-child(5){
    background-image: url("../images/outil.png");
}

#fenetre{
    height: 50vmin;
    overflow: hidden;
}

#fenetre h3{
    color: white;
    font-size: 15vmin;
    margin: 16vmin 1vmin;
    text-shadow: 1vmin 1vmin black;
}

#fenetre section{
    background-color: white;
    height: 50vmin;
    width: 120vmin;
    transform: 0.2s;
}


#programmation{
    background-image: url("../images/programmationbg.png") ;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
}
#BD{
    background-image: url("../images/bdbg.png") ;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
}
#reseau{
    background-image: url("../images/reseaubg.png") ;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
}
#modelisation{
    background-image: url("../images/modellisationbg.png") ;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
}
#outils{
    background-image: url("../images/outilbg.png") ;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 60%;
}

#fenetre section ol{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#fenetre section ol li{
    min-width: 10vmin;
    margin: 1vmin;
    padding: 2vmin 3vmin;
    border:#A5A5A5 solid 0.5vmin;;
    border-radius: 3vmin;
    text-align: center; 
    background-color: rgba(231,230,230,1);
    background: linear-gradient(90deg, rgba(165,165,165,1) 0%, rgba(231,230,230,1) 100%);
    
    background-size: 400% ;
    background-position:  right;
    transition: 0.5s;
}
#fenetre section ol li:hover{

    background-position:  left;
    
}


#fenetre section>div{
    background-color: #44546A;
    font-size: 3vmin;
    margin: 0%;
    width: 120vmin;
    display: flex;
    justify-content: space-between;
}
#fenetre section h4{
    margin: 1vmin;
    color: white;
}
#fenetre section>div>div{
    background-color:  #5f6d81;
    margin: 1vmin;
    padding: 0px 1vmin 0px 1vmin;
    border-radius: 1vmin;
}



@-webkit-keyframes animBg{
    0% { background-position: top left;}
    25% { background-position: top right;}
    50%{ background-position: bottom left;}
    75%{background-position: bottom right;}
}

.hidden{
    display: none;
}


#curseur{

    width: 30px;
    height: 30px;
    background-image: url("../images/curseur.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    position: absolute;
    transition: 1s;
}



#Accueil+div{
    width: 100%;
    height: 10vh;
    }